@import "../../components//mainLayout/MainLayout.scss";

.step-content {
  margin: 0 60px;
}
.button-group {
  margin-bottom: 10px;
}

.xtra-details {
  .form-check-inline {
    border-radius: 3px;
    padding: 10px 50px;
    min-height: 48px;
    margin-bottom: 0;
    border: 1px solid #ccc;
  }
}
